/* line 5, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/charities.scss */
.button-section {
  text-align: center;
}

/* line 8, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/charities.scss */
.bottom-button {
  padding-top: 10px;
}

/* line 11, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/charities.scss */
.top-row {
  background-color: orange;
}

/* line 14, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/charities.scss */
.second-row {
  background-color: orange;
}
