/* line 5, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/donations.scss */
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* line 11, /Users/kylehoang/Desktop/Projects/donor_cats/app/assets/stylesheets/donations.scss */
.payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
